PORT=4000
CLIENT_URL=http://localhost:5173
SUPABASE_URL=https://ylluqcpythiqzikglxrc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlsbHVxY3B5dGhpcXppa2dseHJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NzExMTYsImV4cCI6MjA5MzU0NzExNn0.txaDTAn4EVax6Ew_4TZ89yQhf_0gUm5pPQwABY0BiLU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlsbHVxY3B5dGhpcXppa2dseHJjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Nzk3MTExNiwiZXhwIjoyMDkzNTQ3MTE2fQ.tC-O9N44LhQ2kJUVIN1siI7rdM6XHymGJvKcbvRFrfY
